/*ESTILOS GENÉRICOS*/
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
.marginForm{
    margin: 10px;
}
.marginInput{
    margin-bottom: 20px;
}
.fontsize-manos{
    font-size: 30px !important;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 10px;
}
.fontsize-piezas{
    font-size: 20px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 10px;
}
.fontwBold{
    font-weight: 700;
}
.fontSizePrecios {
    font-size: 15px;
}
.fontWCateg {
    font-weight: 300;
}
.fontSizePrecios {
    font-size: 15px;
}
.fontSizeProd{
    font-size: 18px;
}
.categorias {
    @include misSubtitulos (categorias);
}
/*MENÚ*/
.logo {
    font-size: 150%;
    color:#d09845;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 20px;
    align-items: center;
    text-decoration: none;
}
.navbar-light{
    .navbar-brand{
        color: #d09845;
    }
}
.container-fluid{
    align-content: center;
}
.navbar{
    padding-top: 35px;
}
/*BANNER*/
.carousel-indicators {
    li{
        width: 10px;
        height: 10px;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: 10px;
    }
}
/*ESTILO DE SECCIÓN ENVIOS-CUOTAS-10%OFF*/
.flex-containerRow {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: $color-terciario;
     .item {
        padding: 10px;  
        margin: 5px;
        text-align: center;
    }    
    .borderRight {
            border-right: 0.5px solid #444;
    }
}
/*CATEGORIAS DESTACADAS DEL INDEX*/
.row-fluid{
    .span4{
        display: block;
        float: left;
        width: $ancho;
        min-height: 300px;
    }
}
.m-bottom {
    margin-bottom: 20px!important;
}
.m-top {
    margin-top: 20px!important;
}
.p-relative {
    position: relative!important;
}
.span4 {
    width: 370px;
}
.placeholder-container {
    background-color: rgba(0, 14, 17, 0.05);
}
.textbanner {
    position: relative;
    margin-bottom: 30px;
    padding-top: 100%;
    overflow: hidden;
    .textbanner-image {
        position: absolute;
        top: 0;
        width: $ancho;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.textbanner-link {
    display: block;
    width: $ancho;
    height: 100%;
}
.blur {
    filter: brightness(80%) blur(1px);
    transform: scale(2);
    transition: opacity .2s;
}
.blur:hover{
    filter: blur(0);
    transform: scale(1.5);
    transition: all 1s ease;
}
.imgCategorias {
    width: $ancho;
}
.btn-line{
    background-color: #fff;
    color: #444;
    padding: 8px 20px 8px 24px;
    line-height: 18px;
    transition: all 0.25s ease-in;
}
.btn-line:hover{
    color: #fff;
    background-color: $color-secundario;
}
.textbanner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9;
    width:$ancho;
    padding: 30px 20px;
    color: white;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.textbanner-title {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
    line-height: 36px;
}
.textbanner-paragraph {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*PRODUCTOS DESTACADOS DEL INDEX*/
.m-top-prod{
    margin-top: 70%;
}
.item-link{
    color: black;
    text-decoration: none;
}
.item-link:hover{
    color: rgb(126, 126, 126);
    text-decoration: none;
}
#contenedorProductos{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 2fr 10px 10px 2fr 10px 10px 2fr 10px 10px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    width: $ancho;
    height: 40%;
    margin-bottom: 60px;
        img {
            width: $ancho ;
            height: 80% ;
            margin-top: 20px;
            margin-bottom: 5px;
            cursor: pointer;
        }
}
.subtitulos {
    @include misSubtitulos (comocomprar);
}
/*ESTILO CONTACTO*/
#contacto {
    flex-wrap: wrap;
    background-color: rgba(211, 215, 216, 0.5);
    margin: 10px 40px;
        img {
            height: 100%;
            width:300px;
        }
}
.contactoTitulo{
    @include misSubtitulos (comocomprar);
    margin-bottom: 10px;
    margin: 10px 40px;
}
/*ESTILO DE PRODUCTOS*/
.titulos {
    color: $color-secundario;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
}
.navMargin{
    margin-left: 10px;
}
.liNav{
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    color: black;
    font-size: 13px;
    padding-left: 40px !important;
    background-color: $color-terciario;
}
.liNav::after{
    content: "";
    display: block;
    background: #444;
    width: $ancho;
    margin-top: 3px;
    height: 2px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.liNav:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
    color: $color-secundario;
}
h3{
    font-size: 18px;
}
#productosPadre{
    align-content: center;
    width: $ancho;
    height: 100%;
    margin-top: 18px;
    margin-bottom: 40px;
    text-align: center;
    flex-wrap: wrap;
        img {
            height: 290px;
            width: 90% ;
            margin-top: 20px;
            margin-bottom: 5px;
            cursor: pointer;
        }
}
.caja{
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
    max-height: 650px;
    margin: 10px;
    box-shadow: 0px 0px 5px 1px #e0dfdb;
}
.btn-generico{
    color: white;
    background-color: $color-secundario;
    border-color: $color-secundario;
}
.btn-generico:hover{
    color: #fff;
    background-color: #3092a1;
    border-color: #3092a1 ;
}
.bi-cart-check{
    margin-top: 5px;
    margin-left: 5px;
}
.colorCuotas {
    color: #a3d4fa;
    font-size: 12px;
}
.breadcrumb{
    background-color: white;
    padding-left: 40px;
        a{
            color: black;
        }
}
/*COMO COMPRAR*/
#comoComprar{
    p{
        margin: 10px 40px;
    }
} 
#comoComprar{
    ol{
        margin: 10px;
        list-style-position: inside;
        font-size: 14px
    }
}
/*ESTILO QUIENES SOMOS*/
#somos {
    margin:10px 40px;
}
#somosFlex{
    display: flex;
    flex-flow: row wrap;
    width: $ancho;
    height: 50%;
    margin-bottom: 10px;
    margin-top: 40px;
    justify-content: flex-start ;
    align-items: center;
        img{
            margin-right: 30px;
        }
        p{
            align-items: flex-end;
        }
}
.quienesSomos {
    color:black;
    background-color: rgba(211, 215, 216, 0.5);
    text-align: center;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 20px;
        p{
            line-height: 3;
        }
}
/*FOOTER*/
footer {
    @include footerbg (footer);
}
.instagram{
    @include redes (instagram);
}
.facebook{
    @include redes (facebook);
}
.whatsapp{
    @include redes (whatsapp);
}
.svg{
    margin: 10px;
}
.contenedorRedes{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: $ancho;
    height: 5%;
    margin-top: 50px;
} 
/*MENU*/
@media only screen and (min-width: 360px ) and (max-width: 992px){
    .navbar{
        padding-bottom: 35px !important;
    }
}
@media only screen and (min-width: 992px) {
    .container-fluid{
        height: 115px;
    }
    .nav-link {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
}
@media only screen and (min-width: 1200px){
    .nav-link {
        padding-right: 3rem !important;
        padding-left: 3.5rem !important;
    }
}
 